body{
    background-color: hsl(212, 45%, 89%);
    font-family: outfit;
    font-size: 16px;
    margin-top: 152px;
    margin-right: 541px;
    margin-bottom: 151px;
    margin-left: 579px;


}
img{
    height: 294px;
    width: 288px;
    border-radius: 15px;

}
h1{
font-weight: 700;
font-size: 22px;
text-align: center;
color:hsl(218, 44%, 22%) ;
}
p{
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    color: hsl(220, 15%, 55%); ;
}
.oner{
    background-color:  hsl(0, 0%, 100%);
    border-radius: 20px;
    max-height: ;
    width: fit-content;
    border-width: 320px;
padding-left: 16px;
padding-top: 10px;
padding-right: 16px;
padding-bottom: 40px;
align-self: center;
align-items: center;
border-width: ;

}